---
import Title from "@components/ui/Title.astro";
import { Image } from "astro:assets";
import profilephoto from "@/assets/profileTrejo.jpeg";
---

<section id="sobre-mi" class="scroll-mt-24">
  <Title>SOBRE MI</Title>
  <div class="about-container flex flex-col gap-5 md:flex-row">
    <div
      class="about-text md:flex-1 md:text-lg flex flex-col gap-2 opacity-0 -translate-x-20 transition-all duration-700 ease-out"
    >
      <p class=""></p>
      <p class="">
        Desarrollador Full Stack en constante evolución. Mi enfoque va más allá
        de la programación: busco crear productos digitales que sean eficientes,
        seguros y agradables de usar. A través de mi experiencia en proyectos
        reales y freelance, he perfeccionado la habilidad de transformar
        requerimientos abstractos en software funcional y limpio. Me especializo
        en el ecosistema Java y JavaScript, y disfruto tanto optimizando una API
        REST como puliendo los detalles de una interfaz en Next.js. Soy
        autodidacta por convicción y profesional por formación, siempre listo
        para el siguiente desafío técnico.
      </p>
    </div>
    <Image
      src={profilephoto}
      alt="Foto de Michael Acuache"
      layout="constrained"
      class="object-cover mask-radial-at-center mask-radial-from-60% mask-radial-to-90% animate-pulse-fade-in about-image w-50 h-70 max-w-50 mx-auto md:flex-1 md:h-85 opacity-0 translate-x-20 transition-all duration-700 ease-out"
    />
  </div>
</section>

<script>
  const initAboutObserver = () => {
    const aboutContainer = document.querySelector(".about-container");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const text = entry.target.querySelector(".about-text");
            const image = entry.target.querySelector(".about-image");

            if (text) {
              text.classList.remove("opacity-0", "-translate-x-20");
              text.classList.add("opacity-100", "translate-x-0");
            }

            if (image) {
              image.classList.remove("opacity-0", "translate-x-20");
              image.classList.add("opacity-100", "translate-x-0");
            }
          }
        });
      },
      {
        root: null,
        threshold: 0.3,
        rootMargin: "0px",
      }
    );

    if (aboutContainer) {
      observer.observe(aboutContainer);
    }
  };

  document.addEventListener("astro:page-load", initAboutObserver);
</script>
